h1,
p {
  font-family: Lato;
}
.coins-display {
  display: flex;
  flex-direction: row;
}
.coins-display-coin {
  background-color: yellow;
  border: 4px solid gold;
  text-align: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 20px;
  margin: 20px;
  color: black;
  font-weight: bold;

  box-shadow: 0 2px 6px rgb(0 21 64 / 14%), 0 10px 20px rgb(0 21 64 / 5%);
}
.amount-display {
  width: 100px;
  height: 40px;
  background-color: green;
  color: gainsboro;
  font-weight: bold;
  text-align: center;
  border-radius: 12px;
  border: 4px solid darkgreen;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgb(0 21 64 / 14%), 0 10px 20px rgb(0 21 64 / 5%);
}
.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.step-display-container {
  /* width: 250px; */
  diplay: flex;
}
.step-display {
  font-weight: 700;
  padding: 16px 32px;
  width: auto;
  font-size: 14px;
  display: block;
  box-shadow: 0 2px 6px 0 #b5bbc5;
  border-radius: 12px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.step-display-row {
  display: flex;
  flex-direction: row;
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

.flip-out-hor-top {
  -webkit-animation: flip-out-hor-top 0.45s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}

.title-text {
}

* {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: white;
  box-shadow: inset 0 4px 7px 1px #ffffff,
    inset 0 -5px 20px rgb(173 186 204 / 25%), 0 2px 6px rgb(0 21 64 / 14%),
    0 10px 20px rgb(0 21 64 / 5%);
  padding: 20px 20%;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.text-box {
  padding: 20px;
  /* margin: 20px; */
  margin-right: 16px;
  outline: 0;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.run-btn {
}
